<mat-grid-list cols="2" rowHeight="2:2">
  <mat-grid-tile>
      <mat-list>
          <mat-nav-list>
            <h1>{{roomName}}</h1>
          </mat-nav-list>
          <mat-nav-list>
            <h1>{{clock}}</h1>
          </mat-nav-list>
      </mat-list>
   
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-list>
        <mat-card>
            <h2>{{currentMeetingName}}</h2>
             <p>{{isAvailable}}</p>
            {{until}}
        </mat-card>
        <mat-card>
            <mat-nav-list> 
              <p> Next meeting:</p>
              <p>{{nextMeeting}}</p>
              {{nextMeetingTime}}
            </mat-nav-list>
        </mat-card>
      </mat-list>
  </mat-grid-tile>
</mat-grid-list>

